/*basic formatting*/
* {
  scroll-behavior: smooth;
}

/*Body Formatting*/
body {
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background-color: #06090f;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*loading animation formatting*/
#loading-animation{
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 50vh;
  top: 50vh;
  left: 50vw;
  right: 50vw;
}

/*Navbar formatting*/
.navbar {
  font-size: 20px;
}

.navbar-brand {
  font-size: 25px;
}

/*Table Formatting*/
.table-div {
  overflow-x: auto;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.table {
  height: 100%;
}

.table-div div {
  overflow: auto;
  display: flex;
  height: 100%;
  max-width: 90%;
  min-width: 700px;
}

.table-div thead{
  white-space: nowrap;
}

caption{
    text-align: center;
}

.fas{
  font-size: 20px;
}

@media (max-width: 699px) {
  .table-div {
    justify-content: unset;
  }
}

/*Home Parallax*/
section.parallax {
  position: relative;
  height: auto;
  padding: 180px 0px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.parallax:hover {
  text-decoration: underline;
}

section.parallax:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.30);
  z-index: 100;
  content: ' ';
}

section.parallax h1 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  position: relative;
  z-index: 101;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

section.parallax h1 a {
  text-decoration: none;
  color: white;
}

section.parallax.parallax-posts {
  background-image: url("../img/posts.jpg");
  background-position: center;
}

section.parallax.parallax-albums {
  background-image: url("../img/albums.jpg");
  background-position: center;
}

section.parallax.parallax-todos {
  background-image: url("../img/todo.jpg");
  background-position: center;
}

/*Scrollbar formatting*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*Footer*/
footer {
  background-color: #2c3034;
  display: flex;
  height: 6vh;
  color: #6a949e;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
}
